    
<!DOCTYPE html></head>
<html lang="en">

<head>
 <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
   <section class="rt_wrap content mCustomScrollbar">
      <h2><strong style="color:grey;">课件管理--课件添加</strong></h2>
      <ul class="ulColumn2">

<p id="progress">

  <p id="finish" style="width: 0%;" progress="0"></p>

</p>

      <form action="class_add" method="post"  enctype="multipart/form-data" name="form1" onSubmit="return myCheck()">
       <li>
        <span class="item_name" style="width:120px;">课件名称：</span>
        <input type="text" class="textbox textbox_295" placeholder="文本信息提示..." name="class_name" />
       <!--  <span class="errorTips">错误提示信息...</span> -->
       </li>
       <li>
        <span class="item_name" style="width:120px;">课件封面图：</span>
        <label class="uploadImg">
         <input type="file" id="file"/>
         <span>上传图片</span>
        </label>
         <input id="imgname" name="class_img" value="" hidden />
        <img  id='fileimg' height="100" width="100" src="" alt="">
       </li>
       <li>
        <span class="item_name" style="width:120px;">课件视频：</span>
        <label class="uploadImg">
        <input type="file" id="video"> 
        <span>上传视频</span>
         <input id="videourl" name="class_video" value="" hidden />
         <video height="100" width="100" id='filevideo' src=""></video>
        </label> 
       </li>
         <li>
        <span class="item_name" style="width:120px;">课件描述：</span>
        <textarea placeholder="摘要信息" name="class_ describe" class="textarea" style="width:500px;height:100px;"></textarea>
       </li>
       <li>
        <span class="item_name" style="width:120px;">课件排序：</span>
        <input type="text" class="textbox textbox_295" placeholder="文本信息提示..." name="class_sort" />
       </li>
        <li>
        <span class="item_name" style="width:120px;">赋值课程：</span>
        <table style="margin-left: 120px">
      
          <tr>  
          	<?php foreach ($course as $k => $v): ?>
            <td><label class="single_selection"><input type="checkbox" name="course_id[]" class="parent" value="<?php echo $v['course_id']; ?>"><?php echo $v['course_name']; ?></label></td>
           
          <?php endforeach; ?>
          </tr>
          
        </table>

       </li>
      
       <li>
        <span class="item_name" style="width:120px;">是否启用：</span>
        <label class="single_selection"><input type="radio" name="class_status" value="1" />是</label>
        <label class="single_selection"><input type="radio" name="class_status" value="0" />否</label>
       </li>
  
       <li>
        <span class="item_name" style="width:120px;"></span>
        <input type="submit" class="link_btn"/> 
        <!-- <input type="button" class="link_btn" onclick="myCheck()" value="提交"/>  -->
       </li>
       </form>
      </ul>
     </section>
    </body>
<script type="text/javascript">
    var client = new OSS.Wrapper({
    region: "oss-cn-beijing",
    accessKeyId: "LTAIQWfZax1hLcmH",
    accessKeySecret: "MZCaAEyJYoCiOXv3ZScpQInkXJmLZV",
    bucket: "kkmandarin",
    secure:true
  });
   // 上传封面图
  document.getElementById('file').addEventListener('change', function (e) {
    var file = document.getElementById("file").files[0];
      console.log(document.getElementById("file"))
    var val = 'xiaohou/img/'+document.getElementById("file").value;
       client.multipartUpload(val, file).then(function (result) {
        path = result.res.requestUrls[0].split("?")[0]
          $("#fileimg").attr('src',path); 
          $("#imgname").attr('value',path); 

    }).catch(function (err) {
      console.log(err);
    });
  });
 // 上传视频
    document.getElementById('video').addEventListener('change', function (e) {
    var file = document.getElementById("video").files[0];
      console.log(document.getElementById("video"))
    var val = 'xiaohou/video/'+document.getElementById("video").value;
       client.multipartUpload(val, file).then(function (result) {
            path = result.res.requestUrls[0].split("?")[0]
          $("#filevideo").attr('src',path); 
          $("#videourl").attr('value',path); 

    }).catch(function (err) {
      console.log(err);
    });
  });
  function myCheck(){
        for(var i=0;i<document.form1.elements.length-1;i++)
        {
         if(document.form1.elements[i].value=="")
         {
           alert("当前表单不能有空项");
           document.form1.elements[i].focus();
           return false;
         }
        }
        return true;
        
      }
</script>
</html>
   
