<section class="rt_wrap content mCustomScrollbar">
      <h2><strong style="color:grey;">内容管理--用户退款</strong></h2>

        <div>
            <table class="table">
             <tr node_pid="0">
              <th>微信资料</th>
              <th>手机</th>
              <th>小猴开门资料</th>
              <th>课程管理</th>
              <!-- <th>操作</th> -->
             </tr>
            <?php foreach ($courseall as $k => $v): ?>
             <tr>
              <td style="width:90px;"><img src="<?php echo $userlist['wx_img']; ?>" height="30" width="30" alt=""><?php echo $userlist['wx_name']; ?></td>
              <td style="width:200px;"><?php echo $userlist['user_phone']; ?></td>
              <td style="width:200px;"><img src="<?php echo $userlist['user_img']; ?>" height="30" width="30" alt=""><?php echo $userlist['user_name']; ?></td>
              <td style="width:200px;">

                <?php  $t = substr($userlist['status'],$k,1); ?>
               
                 <?php if ($t == '1'): ?>
                <a href="refundup?user_id=<?php echo $userlist['user_id'] ; ?>&type=<?php echo $k; ?>&course_id=<?php  echo $v['course_id']; ?>"><?php echo $v['course_name']; ?></a>
                <?php else : ?>
                <?php echo $v['course_name']; ?>
               <?php endif; ?>
            

              </td>
             <!--  <td style="width:100px;"><a href="refund?user_id=<?php echo $userlist['user_id'] ; ?>">退款</a></td> -->
             </tr>
            <?php endforeach; ?>
            </table>

   



        </div>

  
       

</section>
   <script type="text/javascript">
    tabs_takes.init("tabs");
</script>